<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div>
    <a href="#" class="disabled">Add books</a>
    <a href="/search">Search book</a>
    <a href="/googlebooks">Search books online</a>
</div>
<br>
<div>Add books</div>
<form method="post" action="add">
    <span>Title: <input type="text" name="title" placeholder="The Hunger Games"></input></span>
    <span>Author: <input type="text" name="author" placeholder="Suzanne Collins"></input></span>
    <span>Genre: <input type="text" name="genre" placeholder="Fiction"></input></span>
    <button type="submit">Add book</button>
</form>

<div>Books:</div>
<table>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Author</th>
    </tr>
{{#books}}
    <tr>
        <td>{{titlu}}</td>
        <td>{{gen}}</td>
        <td>{{autor}}</td>
    </tr>
{{/books}}
</table>
</body>
</html>